

:root {
    --colorPrimary: #0275d8;
    --colorSuccess: #5cb85c;
    --colorInfo: #5bc0de;
    --colorWarning: #f0ad4e;
    --colorDanger: #d9534f;
    --colorInverse: #292b2c;
    --colorFaded: #f7f7f7;

    --colorElectricBlue1: #7df9ff;
    --colorElectricBlue2: #2c75ff;
    --colorElectricBlue3: #3137fd;
    --colorElectricBlue4: #035096;
    --colorElectricBlue5: #536878;
}

@font-face {
    font-family: 'Prompt-Regular';
    src: url('/src/fonts/Prompt-Regular.ttf');
}

@font-face {
    font-family: 'Prompt-Medium';
    src: url('/src/fonts/Prompt-Medium.ttf');
}

@font-face {
    font-family: 'Prompt-Bold';
    src: url('/src/fonts/Prompt-Bold.ttf');
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Prompt-Medium';
}

.mySuperTitle {
    font-family: 'Prompt-Bold';
    font-size: 30px;
    font-weight: bold;
    color: var(--colorInverse);
    margin-top: 10px;
}
.myTitle {
    font-family: 'Prompt-Medium';
    font-size: 20px;
    color: var(--colorInverse);
}
.myBoldText {
    font-family: 'Prompt-Medium';
    font-size: 16px;
    color: var(--colorInverse);
}
.myNormalText {
    font-family: 'Prompt-Regular';
    font-size: 16px;
    color: var(--colorInverse);
}



.myTableHead {
    font-size: 18px;
    font-weight: bold;
    color: text-primary;
    text-align: center;
}


/* card */
.myCardHeader {
    font-size: 16px;
    text-align: left;
}
.myCardBody {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}